<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppgave 1</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename="bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css")}}">
    <script src="{{url_for('static', filename="bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js")}}"></script>


    <link rel="stylesheet" href="/static/css/style.css">
    <script src="{{url_for('static', filename='js/play_audio.js')}}"></script>

</head>
<body>
     {% if error is defined %}
        <h1 style='text-align:center; color:red;'>{{error}}</h1>
     {% endif %}

    <div class='container-fluid'>
        <div class='row' style='justify-content: space-around;'>
        {% for team in teams['short'] %}
            <span class='col-sm-3 team-span' onclick='play_audio("{{team}}")' style='cursor: pointer;'>
                <img src="{{url_for('static', filename="assets/" + team + ".jpg")}}">
                <div>{{team}}</div>
            </span>
        {% endfor %}
        </div>
    </div>


    <form action="/" method="post" id='team-input-form' class='container-fluid' enctype="multipart/form-data">
        <div class='row'>
            <label for="team1" class='col-sm-1'>Lag 1</label>
            <label for="team2" class='col-sm-1'>Lag 2</label>
        </div>
        <div class='row'>
            <select name="team1" id="team1" class='col-sm-1' required>
                <option value="null" style='display:none;'></option>
                {% for team in teams['full'] %}
                    <option value='{{team}}'>{{team}}</option>
                {% endfor %}
            </select>
            <select name="team2" id="team2" class='col-sm-1' required>
                <option value="null" style='display:none;'></option>
                {% for team in teams['full'] %}
                    <option value="{{team}}">{{team}}</option>
                {% endfor %}
            </select>
        </div>
        <div class='row'>
            <label for="team1-goals" class='col-sm-1'>Mål</label>
            <label for="team2-goals" class='col-sm-1'>Mål</label>
        </div>
        <div class='row'>
            <input type="number" name="team1-goals" id="team1-goals" class='col-sm-1' required>
            <input type="number" name="team2-goals" id="team2-goals" class='col-sm-1' required>
        </div>
        <div class='row'>
            <input type="submit" value="Lagre" class='col-sm-2'>
        </div>
    </form>
    <div class='container-fluid mt-5'>
        <h1 class='row'>Resultat:</h1>
        <div class='row justify-content-around'>
        {% for result in results %}
            <table class='col-5 result-table'>
                <tr>
                    <th>Lag</th>
                    <th>Resultat</th>
                    <th>Poeng</th>
                    <th>Målforskjell</th>
                </tr>
                <tr>
                    <td>{{result[0]}}</td>
                    {% if result[2] > 0 %}
                        <td>Seier</td>
                        <td>3</td>
                    {% elif result[2] < 0%}
                        <td>Tap</td>
                        <td>0</td>
                    {% else %}
                        <td>Uavgjort</td>
                        <td>1</td>
                    {% endif %}
                    <td>{{result[2]}}</td>
                </tr>
            </table>
        {% endfor %}
        </div>
    </div>

    <div class='container-fluid mt-5'>
        <h1 class='row'>Alle resultater:</h1>
        <table class='col-5'>
            <tr>
                <th>Nr.</th>
                <th>Lag</th>
                <th>Antall kamper</th>
                <th>Seire</th>
                <th>Uavgjort</th>
                <th>Tap</th>
                <th>Mål scoret</th>
                <th>Mål mot</th>
                <th>Målforskjell</th>
                <th>Poengsum</th>
            </tr>
        {% for match in matches %}

            <tr>
                {% for data in match %}
                    <td>{{data}}</td>
                {% endfor %}
            </tr>
                
        {% endfor %}
        </table>
    </div>

    
</body>
</html>